@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
}

/* logo navbar */
.logo img {
  flex: 2;
  text-transform: uppercase;
  width: 150px;
  height: auto;
  margin-left: 40px;
  margin-top: 10px;
}

/* search */
.search {
  flex: 1;
  width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 0px;
}

.search input {
  border: 2px solid #C0EEE4; 
}

/* button search */
.search .btn{ 
  margin-left: 10px;
  width: 40px; 
  height: 40px; 
}

/* navbar */
.nav-item {
  display: flex;
  align-items: center;
}


.nav-item img {
  width: 50px;
  border-radius: 50%;
  margin-right: 30px; 
  margin-top: 15px;
}


.nav-item .xp-user-live {
  font-weight: bold; 
}

/* sidebar */
.sidebar {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  left: 0px;
  width: 80px;
  height: 65%;
  border: 1px solid #ccc; 
  margin-left: 20px;
  border-radius: 10px;
  transition: all .5s ease;
}

.sidebar ul a {
  display: flex;
  align-items: center;
}

.sidebar ul {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px; 
}

/* icon Font sidebar */
.sidebar ul i {
  margin-right: 15px; 
}
.sidebar {
  width: 200px;
}

/* CSS untuk layar lebih sempit (misalnya perangkat mobile) */
@media (max-width: 768px) {
  .sidebar {
    width: 100px; /* Atur lebar yang sesuai untuk layar mobile */
  }
}

/*ukuran card */
.container{
  margin-left: 250px;
}

.card {
  width: 200px; 
  height: 300px; 
  margin-left: 10px;
}

/* Untuk card yang ada di layar berukuran lebih besar (desktop)*/
@media (min-width: 768px) {
  .card {
    width: 200px; 
    height: 300px; 
  }
}

.card-text::before {
  content: "RP. ";
}

/* button card */
.btn-custom {
  background-color: #007bff; 
  margin-top: 40px;
  margin-left: -10px;
  color: #fff; 
  padding: 5px 10px; 
  border: none; 
  border-radius: 5px; 
  text-decoration: none; 
  display: inline-block; 
}

/* Hover effect */
.btn-custom:hover {
  background-color: #0056b3; 
}




