@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
}

.logo img {
  flex: 2;
  text-transform: uppercase;
  width: 150px;
  height: auto;
  margin-left: 30px;
  margin-top: 10px;
}

.search {
  flex: 1;
  width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: -110px;
}

.search input {
  border: 2px solid #C0EEE4; 
}

.search .submit{
  background-image: url('../img/button_search.png'); 
  margin-left: 10px;
  background-size: cover; 
  text-indent: -9999px;
  border: none; 
  padding: 0; 
  width: 30px; 
  height: 30px; 
}

.nav-item {
  display: flex;
  align-items: center;
}


.nav-item img {
  width: 50px;
  border-radius: 50%;
  margin-right: 30px; 
  margin-top: 15px;
}


.nav-item .xp-user-live {
  font-weight: bold; 
}

.sidebar {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  left: 0px;
  width: 80px;
  height: 65%;
  border: 1px solid #ccc; 
  margin-left: 20px;
  border-radius: 10px;
  transition: all .5s ease;
}

.sidebar ul {
  display: flex; /* Menggunakan flexbox untuk tata letak */
  align-items: center; /* Aligment vertikal ke tengah */
  margin-bottom: 10px; /* Menambahkan margin bawah sesuai kebutuhan */
}

/* CSS untuk ikon Font Awesome */
.sidebar ul i {
  margin-right: 10px; /* Menambahkan margin kanan antara ikon dan teks */
}
.sidebar {
  width: 200px;
}

/* CSS untuk layar lebih sempit (misalnya perangkat mobile) */
@media (max-width: 768px) {
  .sidebar {
    width: 100px; /* Atur lebar yang sesuai untuk layar mobile */
  }
}

/* CSS untuk mengatur ukuran card */
.container{
  margin-left: 300px;
}

.card-group {
  width: 200px; 
  height: 300px; 
  margin-left: 10px;
}

/* Untuk card yang ada di layar berukuran lebih besar (desktop), Anda mungkin perlu mengatur ulang lebar dan tingginya dengan media query */

@media (min-width: 768px) {
  .card-group {
    width: 200px; 
    height: 300px; 
  }
}




