h1{
    padding-left: 14rem;
}
.info-section{
    padding-left: 14rem;
}
.text-color{
  color: black; /* Ganti dengan warna yang Anda inginkan untuk teks */
  display: inline; /* Memastikan teks tetap berada di sebelah ikon */
}

.bordered-icon {
  border: 1px solid #6DD6BF;
  width: 185px;
  height: 39px;
  top: 643px;
  left: 819px;
  border-radius: 11px; /* Untuk membuat ikon dengan border bulat */
  padding: 5px; /* Jika Anda ingin menambahkan ruang di sekitar ikon */
  display: block;
}
.dropdown {
  margin: 5px; /* Atur margin untuk elemen dropdown */
  
}

.dropdown-menu {
  padding: 5px; /* Atur padding untuk elemen dropdown menu */
}

.dropdown-item {
  margin: 2px; /* Atur margin untuk elemen dropdown item */
}
.dropdown :hover{
  background-color: #6DD6BF !important;
}


/* footer start/ */
.footer{
	background-color: #E7FAF6;
    color: #000000;
    padding: 20px 0;
    margin-top: 120px;
    position: static; 
    bottom: 0;
}

.logo-footer img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer-col {
    flex: 1;
    margin: 0 40px;
    
}

.footer-col a {
    text-decoration: none; /* Menghapus garis bawah */
    color: #333; /* Mengganti warna teks */
    font-weight: normal; /* Mengganti ketebalan font (misalnya, menjadi normal) */
}

.logo-footer img {
    max-width: 100%;
    height: auto;
}


.footer-col h4{
	font-size: 18px;
	color: #000000;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.footer ul{
    color: black;
}


hr {
    border: 1px solid #000; /* Ganti warna, lebar, dan gaya garis sesuai kebutuhan */
}



.social-links a {
    font-size: 10px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #24262b;
    background-color: #85DAC8;
}


/* akhir */





