@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
}

/* logo navbar */
.logo img {
  flex: 2;
  text-transform: uppercase;
  width: 150px;
  height: auto;
  margin-left: 40px;
  margin-top: 10px;
}

/* search */
.search {
  border-radius: 10px;
  flex: 1;
  width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 0px;
}

.search input {
  border: 2px solid #C0EEE4; 
}

/* button search */
.search .btn{ 
  border-radius: 10px;
  color: white;
  background-color: #41EBC6;
  margin-left: 0px;
  width: 40px; 
  height: 40px; 
}

/* button nama user*/
.nav-item button {
  color: #fff;
  background-color: #41EBC6;
  padding: -15px;
  margin-right: 10px;
  margin-top: 15px;
}


/* navbar */
.nav-item {
  display: flex;
  align-items: center;
}


.nav-link img {
  width: 50px;
  border-radius: 50%;
  margin-right: 30px; 
  margin-top: 15px;
}


.nav-link .xp-user-live {
  font-weight: bold; 
}

.nav-item {
  display: flex;
  align-items: center;
}


.nav-item img {
  width: 50px;
  border-radius: 50%;
  margin-right: 30px; 
  margin-top: 15px;
}

/* content */
.container-lg {
  width: 1000px;
  height: 650px;
  position: relative;
  left: 100px;
  top: -500px;
}

#noHP i {
  font-style: unset;
}

#Rp i {
  font-style: unset;
}

/* end content */


.nav-item .xp-user-live {
  font-weight: bold; 
}

@media (max-width: 768px) {
    body {
      width: 1000px;
      min-height: 200px; 
    }
}

/* sidebar */
.sidebar {
  font-family: 'Poppins', sans-serif;
  left: 0px;
  width: 210px;
  border: 3px solid #41EBC6;
  margin-left: 20px;
  border-radius: 10px;
  margin-top: 60px;
  transition: all .5s ease;
}

.sidebar ul {
  height: 50px; /* Sesuaikan tinggi sesuai kebutuhan */
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul a {
  color: #41EBC6;
  border: 1px solid #41EBC6;
  border-radius: 5px;
  width: 170px;
  display: flex; /* Menggunakan display flex untuk mengatur tinggi elemen */
  align-items: center; /* Mengatur elemen ke tengah secara vertikal */
  margin-left: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar ul a i {
  color: #41EBC6;
  width: 30px;
  margin-left: 10px;
  align-items: center;
}

/* profile */
.sidebar ul a img {
  border: 1px solid #41EBC6;
  margin-left: 10px; /* Mengatur margin kiri yang sesuai */
}

/* Hover pada tautan di sidebar */
.sidebar ul a:hover {
  background-color: #41EBC6; /* Ganti warna latar belakang saat di-hover */
  color: #fff; /* Ganti warna teks saat di-hover */
}

/* Mengubah warna ikon saat di-hover */
.sidebar ul a:hover i {
  color: #fff; /* Ganti warna ikon saat di-hover */
}

/* Mengubah warna ikon dan warna border ketika elemen memiliki teks "Jual" */
.sidebar ul a:contains("Jual") {
  color: red; 
}

/* Merubah warna ikon */
.sidebar ul a:contains("Jual") i {
  color: red; 
}

/* Merubah warna border */
.sidebar ul a:contains("Jual") {
  border-color: red; 
}

.sidebarJual ul a {
  color: #E29578;
  border-color: #E29578;
}

.sidebarJual ul a i {
  color: #E29578;
}

.sidebarJual ul a img {
  border: 1px solid #E29578;
  margin-left: 10px;
}

.sidebarJual ul a:hover {
  background-color: #E29578;
  color: #fff;
}

/* Tambahkan border di sebelah kanan sidebar */
.sidebar::after {
  content: "";
  display: block;
  width: 3px; /* Lebar garis pemisah */
  background-color: #00000070; /* Warna garis pemisah */
  height: 95%;
  position: absolute;
  margin-left: 225px;
  top: 195px;
}

/*footer start*/
.footer{
	background-color: #E7FAF6;
    color: #000000;
    padding: 20px 0;
    position: static; /*bisa absolute / static*/
    bottom: 0;
}

.logo-footer img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer-col {
    flex: 1;
    margin: 0 40px;
    
}

.footer-col a {
    text-decoration: none; /* Menghapus garis bawah */
    color: #333; /* Mengganti warna teks */
    font-weight: normal; /* Mengganti ketebalan font (misalnya, menjadi normal) */
}

.logo-footer img {
    max-width: 100%;
    height: auto;
}


.footer-col h4{
	font-size: 18px;
	color: #000000;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.footer ul{
    color: black;
}


hr {
    border: 1px solid #000; /* Ganti warna, lebar, dan gaya garis sesuai kebutuhan */
}



.social-links a {
    font-size: 10px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #24262b;
    background-color: #85DAC8;
}

/*Footer End*/
  
 
  
  
  


