
.header p{
    padding-top: 100px; 
    font-size: 20px;
}


/* Mengatur form-container untuk berada di tengah halaman */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    /* animation: zoomIn 0.5s ease-in-out; 
    transform: scale(0.8); Set nilai awal transformasi ke 80% */
}

/* @keyframes zoomIn {
    0% {
        transform: scale(1.2); 
    }
    100% {
        transform: scale(1); 
} */


/* mengatur logo */
.center-content {
    position: relative;
    text-align: center;
    height: 100px;
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Mengatur input */
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px; /* Memberikan margin bawah antara elemen input */
}
/* Mengatur ukuran tombol */
.equal-size-btn {
    width: 200px; /* Atur lebar sesuai keinginan Anda */
    height: 50px; /* Atur tinggi sesuai keinginan Anda */
}

